<form>
  <div class="form-group">
    <label for="taskName">Name</label>
    <input type="text" class="form-control" name="taskName" id="taskName" ng-model="vm.targetTask.name">
  </div>
  <div class="form-group">
      <label for="projectId">Project</label>
      <select class="form-control" name="projectId" id="projectId"
        ng-options="project._id as project.name for project in vm.projectList track by project._id"
        ng-model="vm.targetTask.projectId"></select>
    </div>
  <div class="form-group">
    <label for="taskStartDate">Start Date</label>
    <input type="date" class="form-control" name="taskStartDate" id="taskStartDate" ng-model="vm.targetTask.startDate"></input>
  </div>
  <div class="form-group">
    <label for="dueStartDate">Start Date</label>
    <input type="date" class="form-control" name="dueStartDate" id="dueStartDate" ng-model="vm.targetTask.dueDate"></input>
  </div>  
  <div class="form-group">
      <label for="taskDescription">Description</label>
      <textarea class="form-control" name="taskDescription" id="taskDescription" ng-model="vm.targetTask.description"></textarea>
    </div>
  <button ng-hide="vm.isEditting" ng-click="vm.submitNewTask(vm.targetTask); vm.targetTask = null;" class="btn btn-primary">Submit</button>
  <button ng-show="vm.isEditting" ng-click="vm.saveTask(vm.targetTask); vm.targetTask = null;" class="btn btn-primary">Save</button>
  <button ng-show="vm.isEditting" ng-click="vm.cancelEditing(); vm.targetTask = null;" class="btn btn-outline-primary">Cancel</button>
</form>
<div ng-repeat="task in vm.taskList track by $index">
  {{task._id}} - {{task.name}} - {{task.description}} - {{task.startDate}} - {{task.dueDate}} - {{task.status}} - {{task.project.name}}
  <button class="btn btn-link" ng-click="vm.selectTaskToEdit($index)">
    <i class="fa fa-edit"></i>
  </button>
  <button class="btn btn-link" ng-click="vm.selectTaskToDelete($index)">
    <i class="fa fa-trash"></i>
  </button>
</div>