 <div class="card-body" ng-controller="TaskCtrl">
    <menu type="toolbar" class="action-bar">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter" ng-click="addTaskFunction()" ng-hide="search">
            <i class="fa fa-plus"></i>
            <span>Add</span>
        </button>
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModalDeleteAll" ng-hide="search" ng-disabled="!countCheckedDelete()">
            <i class="fa fa-trash-o"></i>
            <span>Delete</span>
        </button>
        <button type="button" class="btn btn-outline-info " ng-click="search = true" ng-hide="search">
            <i class="fa fa-search"></i>
            <span>Search</span>
        </button>
        <button type="button" class="btn btn-info" ng-click="reloadData()" ng-hide="search">
            <i class="fa fa-refresh"></i>
            <span>Refresh</span>
        </button>
    </menu>
        <form class="search" ng-show="search">
            <input class="search-action" ng-model="searchText"/>
                    <i class="fa fa-search"></i>
                    <i class="fa fa-close" type="submit" ng-click="search = !search"></i>
        </form>
        <div class="table table-responsive" style="overflow-y: auto; height: 500px;">
         <table class="table table-bordered table-hover">
            <thead>
            <tr class="text-center">
                <th class="column-task width-3"><input type="checkbox" ng-model="selectAll" ng-click="checkAll()"/></th>
                <th class="column-task width-3">STT</th>
                <th class="column-task width-10">Name</th>
                <th class="column-task width-13">Description</th>
                <th class="column-task width-10">Assigner</th>
                <th class="column-task width-7"> Start date</th>
                <th class="column-task width-7">Due date</th>
                <th class="column-task width-10">Project name</th>
                <th class="column-task width-7">Status</th>
                <th class="column-task width-10">Tags</th>
                <th class="column-task width-7">Comment</th>
                <th class="column-task width-13">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks | filter:searchText:strict| limitTo: itemsPerPage: itemsPerPage*(currentPage - 1)">
            <!--<tr ng-repeat="task in tasks track by task._id | filter:searchText| limitTo: itemsPerPage: itemsPerPage*(currentPage - 1)">-->
                <td class="text-center"><input type="checkbox"  ng-model="task.selected" ng-click="setCheckAll(task)"></td>
                <td class="text-center">{{$index+1}}</td>
                <td class="column-td">{{task.name}}</td>
                <td class="column-td">{{task.description}}</td>
                <td class="column-td">{{task.assigner.email}}</td>
                <td class="column-td">{{task.startDate|date:"dd/MM/yyyy"}}</td>
                <td class="column-td">{{task.dueDate|date:'dd/MM/yyyy'}}</td>
                <td class="column-td">{{task.project.name}}</td>
                <td><span class="progress-bar" ng-class="labelColor(task.status)">{{task.status}}</span></td>
                <!--<td>{{task.tags}}</td>-->
                <td  class="column-td">
                    <span ng-repeat="tag in task.tags track by tag.name" class="tag-name">
                         <span class="delete-tag-table">&#8226;</span>
                        <span ng-click="tag.action(task)">{{tag.name}}</span>

                    </span>
                </td>
                <td class="text-center">
                    <!--comment-->
                    <!--<button type="button" class="btn btn-lg btn-info btn-sm" data-toggle="modal" data-target="#exampleModalCenterComment" ng-click="selectTask(task, task._id)">-->
                        <!--<i class="fa fa-comment fa-2x"></i>-->
                    <!--</button>-->

                        <div class="notifications">
                            <div class="new-message" >
                                <a  target="_top" id="lengthComment">{{task.comments.length}}</a>
                            </div>
                            <div class="messages" data-toggle="modal" data-target="#exampleModalCenterComment" ng-click="selectTask(task, task._id)">
                                <a  target="_top">Comment</a>
                            </div>
                        </div>

                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-outline-info btn-sm"  data-toggle="modal" data-target="#exampleModal" ng-click="selectTask(task, task._id)">
                        <i class="fa fa-pencil"></i>
                        <span class="action-column">Edit</span>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModalDelete1" ng-click="selectTask(task, task._id)">
                        <i class="fa fa-trash-o"></i>
                        <span class="action-column">Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
     <ul style="margin-top: 20px;" uib-pagination boundary-links="true" total-items="tasks.length" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right
" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

        <!-- Modal -- create-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="align-content-center"  name="addForm">
                            <div class="form-group">
                                <label>Name (*)</label>
                                <input  class="form-control" placeholder="Task name" ng-model="addTask.name" name="name" required/>
                                    <p ng-show="addForm.name.$invalid && !addForm.name.$pristine"> You task name required </p>
                            </div>
                            <div class="form-group">
                                <label>
                                    Description</label>
                                <textarea class="form-control"  ng-model="addTask.description"></textarea>
                            </div>
                            <div class="form-group">
                               <label>Assigner</label>
                                <select class="form-control" ng-model="addTask.assigneeId" ng-options="assignee._id as assignee.email for assignee in users"></select>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Start
                                        date</label>
                                    <div class="input-group date" id="datetimepicker1">
                                        <input type="date" class="form-control" name="addTask.startDate" id="startdate" placeholder="" ng-model="addTask.startDate">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Due date</label>
                                    <div clas="input-group date" id="datetimepicker2">
                                        <input type="date" class="form-control"  id="duetdate" placeholder="" ng-model="addTask.dueDate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Project Name</label>
                                <select class="form-control" ng-model="addTask.projectId" ng-options="project._id as project.name for project in projects"></select>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" ng-model="addTask.status" ng-options="item.name as item.name for item in statususer">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tags</label>
                                <div class="tag-input-ctn">
                                    <!--<div ng-repeat="(key,tag) in inputTags" class="input-tag">-->
                                    <div ng-repeat="(key,tag) in addTask.tags" class="input-tag">
                                        {{tag.name}}
                                        <div class="delete-tag" ng-click="deleteTag(key)">&times;</div>
                                    </div>
                                    <!--<input type="text" data-tag-input="" data-ng-model="addTask.tags" data-ng-style="{width:inputWidth}" data-new-tag="addTag()" data-delete-tag="deleteTag()">-->
                                    <!--<input type="text" tag-input="" ng-model="addTask.tags" ng-style="{width:inputWidth}" new-tag="addTagFunc(addTask.tags, inputTags);addTask.tags='';" delete-tag="deleteTag()" style="margin-top: 5px">-->
                                    <input  tag-input="" ng-model="newTag" ng-style="{width:inputWidth}" new-tag="addTagFunc(newTag, addTask.tags);newTag='';" delete-tag="deleteTag()" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-success" data-dismiss="modal" ng-disabled="addForm.$invalid" ng-click="createTask(addTask);addTask=undefined"><i class="fa fa-plus"></i>Add</button>
                                <!--<button type="submit" class="btn btn-outline-success" data-dismiss="modal" ng-disabled="addForm.$invalid" ng-click="saveTask()"><i class="fa fa-plus"></i>Add</button>-->
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modal crate-->
        <!--Modal --delete1-->
        <div class="modal fade" id="exampleModalDelete1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle1">Delete Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p>Do you want to delete <span class="message-delete"> task {{clickedTask.name}} ??? </span></p>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-outline-info" data-dismiss="modal" ng-click="delete()">Yes</button>-->
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal" ng-click="deleteTask(clickedTask)">Yes</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>

                    </div>
                </div>
            </div>
        </div>
        <!--End Modal delete1-->
        <!--modal deleteAll-->
        <div class="modal fade" id="exampleModalDeleteAll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLonAll">Delete Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Do yow want to delete <span>{{(tasks | filter:{selected: true}).length}}</span> task ???</p>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-outline-info" data-dismiss="modal" ng-click="remove()">Yes</button>-->
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal" ng-click="deleteAllTask()">Yes</button>
                        <button type="button" class="btn btn-outline-secondary"  data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal DeleteAll-- >
        <!--Modal Edit-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="align-content-center" name="editForm" novalidate>
                            <div class="form-group">
                                <label>Name(*)</label>
                                <input class="form-control" placeholder="" required ng-model="clickedTask.name" name="name"/>
                                <p ng-show="editForm.name.$invalid && !editForm.name.$pristine"> You task name required</p>
                            </div>
                            <div class="form-group">
                                <label>
                                    Description</label>
                                <textarea class="form-control" ng-model="clickedTask.description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Assigner</label>
                                <select class="form-control" ng-model="clickedTask.assigneeId" ng-options="assignee._id as assignee.email for assignee in users"></select>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Start date</label>
                                    <div class="input-group date" id="datetimepicker3">
                                        <input type="date" class="form-control" id="startdate1" placeholder="" ng-model="clickedTask.startDateObject">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Due date</label>
                                    <div clas="input-group date" id="datetimepicker">
                                        <input type="date" class="form-control" id="duetdate1" placeholder="" ng-model="clickedTask.dueDateObject">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Project Name</label>
                                <select class="form-control" ng-model="clickedTask.projectId" ng-options="project._id as project.name for project in projects"></select>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select type="text" class="form-control" ng-model="clickedTask.status" ng-options=" item.name as item.name for item in statususer"></select>
                            </div>
                            <div class="form-group">
                                <label>Tags</label>
                                <div class="tag-input-ctn" class="form-control" >
                                    <!--<div data-ng-repeat="(key,tag) in inputTags" class="input-tag">-->
                                        <!--{{tag.name}}-->
                                        <!--<div class="delete-tag" ng-click="deleteTag(key)">&times;</div>-->
                                    <!--</div>-->
                                    <!--<input type="text" data-tag-input="" data-ng-model="clickedTask.tags" data-ng-style="{width:inputWidth}" data-new-tag="addTag()" data-delete-tag="deleteTag()">-->
                                    <div ng-repeat="(key,tag) in clickedTask.tags" class="input-tag">
                                        {{tag.name}}
                                        <div class="delete-tag" ng-click="deleteTagEdit(key)">&times;</div>
                                    </div>
                                    <!--<input type="text" tag-input="" ng-model="newTag" ng-style="{width:inputWidth}" new-tag="addTagFunc(newTag, clickedTask.tags);newTag='';" delete-tag="deleteTagEdit()">-->
                                    <input  tag-input="" ng-model="newTag" ng-style="{width:inputWidth}" new-tag="addTagFunc(newTag, clickedTask.tags);newTag='';" delete-tag="deleteTagEdit()" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!--<button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="updateTask(clickedTask)" ng-disabled="editForm.$invalid"><i class="fa fa-save"></i>Save</button>-->
                                <button class="btn btn-outline-primary" data-dismiss="modal" ng-click="editTask(clickedTask)" ng-disabled="editForm.$invalid"><i class="fa fa-save"></i>Save</button>
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <!--End Modal edit-->
        <!--Modal comment-->
        <div class="modal fade" id="exampleModalCenterComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title" id="exampleModalLabelComment">Comment</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--<text-angular ng-model="addTask.comments" required class=""></text-angular>-->
                        <text-angular ng-model="newComment" required class=""></text-angular>
                        <hr/>
                        <h3>{{clickedTask.comments.length}} {{countComment()}}</h3>
                        <span  class="comment">
                            <span ng-repeat="comment in clickedTask.comments">
                            <img src="{{comment.commentUser.image}}"/>
                            <div class="text">
                                <p  ng-bind-html="comment.commentBody" style="margin-left: 15px;"></p>
                            </div>
                                <!--{{comment.commentUser.email}}-->
                            <li class="small" style="margin-left: 350px;">
                                <a id="deleteComment" ng-click="deleteComment(comment)">Delete</a>
                                <!--<a id="deleteComment" ng-click="deleteComment()">Delete</a>-->
                            </li>
                            </span>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!--<button type="button" class="btn btn-primary" ng-click="saveComment(newComment); newComment = undefined;">Submit</button>-->
                        <button type="button" class="btn btn-primary" ng-click="createComment(newComment); newComment = undefined;">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End modal comment-->
        <!--<nav aria-label="..." class="pagination pull-right">-->
            <!--<ul  class="pagination">-->
                <!--<li class="page-item" ng-class="{'disabled': currentPage === 0}">-->
                    <!--&lt;!&ndash;<a class="page-link" href ng-click="currentPage=currentPage-1">Previous</a>&ndash;&gt;-->
                    <!--<a class="page-link" href ng-click="prePage()">Previous</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li class="page-item" ng-repeat="n in range(numberOfPage(),currentPage,currentPage + gap)" ng-class="{active: n== currentPage}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href ng-click="setPage()" class="page-link">{{ n+1 }}</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--<li class="page-item" ng-repeat="n in pagination track by n" ng-class="{active: n === currentPage}">-->
                    <!--<a href ng-click="setPage()" class="page-link">{{ n+1 }}</a>-->
                <!--</li>-->
                <!--<li class="page-item" ng-class="{'disabled' : (currentPage) == numberOfPage()-1}">-->
                    <!--<a href class="page-link" ng-click="nextPage()">Next</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</nav>-->
    </div>






