<form>
  <div class="form-group">
    <label for="taskName">Name</label>
    <input type="text" class="form-control" name="taskName" id="taskName" ng-model="vm.targetTask.name">
  </div>
  <div class="form-group">
    <label for="projectId">Project</label>
    <select class="form-control" name="projectId" id="projectId" ng-model="vm.targetTask.projectId" ng-options="project._id as project.name for project in vm.projectList">
    </select>
  </div>
  <div class="form-group">
    <label for="assigneeId">Assignee</label>
    <select class="form-control" name="assigneeId" id="assigneeId" ng-model="vm.targetTask.assigneeId" ng-options="assignee._id as assignee.email for assignee in vm.assigneeList">
    </select>
  </div>
  <div class="form-group">
    <label for="taskStartDate">Start Date</label>
    <input type="date" class="form-control" name="taskStartDate" id="taskStartDate" ng-model="vm.targetTask.startDate"></input>
  </div>
  <div class="form-group">
    <label for="dueStartDate">Start Date</label>
    <input type="date" class="form-control" name="dueStartDate" id="dueStartDate" ng-model="vm.targetTask.dueDate"></input>
  </div>
  <div class="form-group">
    <label for="taskDescription">Description</label>
    <textarea class="form-control" name="taskDescription" id="taskDescription" ng-model="vm.targetTask.description"></textarea>
  </div>
  <button ng-hide="vm.isEditting" ng-click="vm.submitNewTask(vm.targetTask); vm.targetTask = null;" class="btn btn-primary">Submit</button>
  <button ng-show="vm.isEditting" ng-click="vm.saveTask(vm.targetTask); vm.targetTask = null;" class="btn btn-primary">Save</button>
  <button ng-show="vm.isEditting" ng-click="vm.cancelEditing(); vm.targetTask = null;" class="btn btn-outline-primary">Cancel</button>
</form>
<!-- comment section -->
<div ng-show="vm.isEditting">
  Comments
  <ul>
    <li ng-repeat="comment in vm.targetTask.comments">
      {{comment.commentBody}} - {{comment.commentDate | date:"MM/dd/yyyy 'at' h:mma"}} - {{comment.commentUser.email}}
      <button
        class="btn btn-link" ng-click="vm.selectCommentToDelete(vm.targetTask, comment)">
        <i class="fa fa-trash"></i>
        </button>
    </li>
  </ul>

  <div class="form-group">
    <label for="newComment">Write your comment</label>
    <textarea class="form-control" name="newComment" id="newComment" ng-model="newComment"></textarea>
  </div>
  <button class="btn btn-outline-primary" ng-click="vm.submitNewComment(vm.targetTask, newComment); newComment = undefined">Add</button>
</div>
<hr>
<div ng-repeat="task in vm.taskList track by $index">
  <input type="checkbox" ng-model="task.checked"> 
  {{task._id}} - {{task.name}} - {{task.description}} - {{task.startDate | date:"MM/dd/yyyy 'at' h:mma"}} - {{task.status}}
  - {{task.project.name}} - {{task.assignee.email}}
  <button class="btn btn-link" ng-click="vm.selectTaskToEdit(task)">
    <i class="fa fa-edit"></i>
  </button>
  <button class="btn btn-link" ng-click="vm.deleteTask(task)">
    <i class="fa fa-trash"></i>
  </button>
</div>
<button class="btn btn-outline-danger" ng-click="vm.deleteBulkTasks()" 
        ng-show="vm.taskList.length"
        ng-disabled="!vm.canDeleteBulkTasks()">Delete</button>